{% extends 'base.html' %}
{% block content %}
  <br/>
  <form action="/charge" method="post">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Flask Charge"
            data-amount="{{ amount }}"
            data-locale="auto"></script>
  </form>
  <br/>
    <P><strong>Please Note:</strong> This app is running in test mode, use the following credit card information to make a purchase:
    <ul>
      <li>Email: example@anything.com</li>
      <li>Credit card number: 4242-4242-4242-4242</li>
      <li>CVC: any 3-digit number</li>
      <li>Expiration date: any date in the future (MM/YY)</li>
    </ul>
{% endblock %}