
@font-face {
    font-family: Mekanik;
    src: url(mekanik_plain.ttf);
}

.right .menu .item{
        font-size: 50px;
}

#tnicon {
        height: 125px;
        width: 500px;
}

#navbar {
        opacity: 0.7;
        height: 100px;
        background-color : transparent;
}

.ui#container{
        padding-top: 500px;
}


/*body {
        background: url("tn.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-family: Mekanik;
}*/
